<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" style="height: 100vh;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - websmtp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/websmtp.styles.css" asp-append-version="true" />
</head>
<body style="min-height: 100%; height: 100%">

    <div class="container-fluid" style="min-height: 100%; padding: 0;">
        <main role="main" class="pb-3" style="min-height: 100%; display: flex; flex-direction: flex-column; justify-items: center;">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>