obj/
bin/
obj/*
bin/*
messages/*
build/*
build/
websmtp/messages/
websmtp/messages/*
websmtp/websmtp.db
/.vs
*.der
*.pem
openssl.exe
libcrypto-3-x64.dll
libssl-3-x64.dll
websmtp/appSettings.Production.json
/websmtp/appSettings.Production.json
websmtp/tests.db
websmtp/tests.db-shm
websmtp/tests.db-wal
websmtp/appSettings.json
*.key
*.crt
