html {
    font-size: 10px;
    height: 100vh;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
}

.main--container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    padding: 0 0.75rem;
}

.content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .main--container {
        flex-direction: row;
    }

    .sidebar {
        flex: 0 0 220px;
    }
}

table td {
    vertical-align: middle;
}


.unread {
    font-weight: bolder;
    color: azure;
    position: relative;
    background-color: #0b5bd3a1;
}

    table.table tbody tr.unread td * {
        position: relative;
    }

    table.table tbody tr.unread td::before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

.login-card {
    margin: auto;
    width: 100%;
    max-width: 300px;
    align-self: center;
}

.btn-transparent-primary {
    background: transparent;
}

    .btn-transparent-primary:hover {
        background: #0b5bd3a1;
    }

    .btn-transparent-primary:active,
    .btn-transparent-primary:focus {
        background: #0d6efd;
    }
