html {
    font-size: 14px;
    height: 100svh;
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    background-color: #16141c;
    background: radial-gradient(circle at 50%, #262330, #16141c);
}

.main--container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    padding: 0 0.75rem;
    z-index: 3;
    background-color: #16141c;
    position: absolute;
    border: var(--bs-border-width) solid var(--bs-border-color);
    height: 100svh;
    min-width: 220px;
    overflow-y: auto;
}

.content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

@media (min-width: 1150px) {
    html {}

    .main--container {
        flex-direction: row;
    }

    .sidebar {
        flex: 0 0 220px;
        background-color: unset;
        position: static;
        border: none;
        border-right: var(--bs-border-width) solid var(--bs-border-color);
    }
}
#messages--list{
    overflow-y: auto;
    overflow-x: hidden;
}
#messages--list--header {
    top: 0;
    background-color: #16141c;
    z-index: 2;
}

table td {
    vertical-align: middle;
}

.list-group-item {
    background-color: rgba(22, 20, 28, 0.5);
}

.unread {
    font-weight: bolder;
    color: azure;
    position: relative;
    background-color: rgba(26, 25, 38, 0.9);
}

.login-card {
    margin: auto;
    width: 100%;
    max-width: 300px;
    align-self: center;
}

.btn-transparent-primary {
    background: transparent;
}

.btn-transparent-primary:hover,
.btn-transparent-primary:focus,
.btn-transparent-primary:active {
    background: #313346 !important;
}

.content .listing .list,
.content .listing .list-group-item:first-child,
.content .listing .list-group-item:last-child {
    border-radius: 0;
}

.content .listing .list {
    border-left: none !important;
}

.content .listing .list .list-group-item .bi.bi-paperclip::before {
    transform: rotate(33deg);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--proton-pink);
    --bs-btn-border-color: var(--proton-pink);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--proton-pink-hover);
    --bs-btn-hover-border-color: var(--proton-pink-hover);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--proton-pink-active);
    --bs-btn-active-border-color: var(--proton-pink-active);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--proton-pink-disabled);
    --bs-btn-disabled-border-color: var(--proton-pink-disabled);
}
.btn-proton {
    --bs-btn-color: #fff;
    --bs-btn-bg: #342562;
    --bs-btn-border-color: #342562;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--proton-pink-hover);
    --bs-btn-hover-border-color: var(--proton-pink-hover);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--proton-pink-active);
    --bs-btn-active-border-color: var(--proton-pink-active);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--proton-pink-disabled);
    --bs-btn-disabled-border-color: var(--proton-pink-disabled);
}

.btn-outline-neutral {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #25283a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #25283a;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #25283a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #25283a;
    --bs-gradient: none;
}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

:root {
    --bs-primary-rgb: 123, 29, 201;
    --proton-pink: rgb(123, 29, 201);
    --proton-pink-hover: hsl(273, 75%, 45%);
    --proton-pink-active: hsl(273, 98%, 26%);
    --proton-pink-disabled: hsl(273, 30%, 50%);
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: var(--proton-pink);
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1pt;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #85879b;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #16141c;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #25283a;
    --bs-border-color-translucent: #25283a;
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}

.text-proton-pink {
    color: var(--proton-pink);
}

.bg-proton-pink {
    background-color: var(--proton-pink);
}

.text-orangered {
    color: orangered;
}

.logo-alpha {
    top: 5px !important;
    transform: translate(-50%, -50%) rotateZ(18deg) !important;
}

.form-card-shadow {
    box-shadow: 0 0 20px black;
}

.form-control:focus {
    border-color: var(--proton-pink);
    box-shadow: none;
}

.mw-50px {
    min-width: 50px;
}

.mw-75px {
    min-width: 75px;
}

.fs-12px {
    font-size: 12px;
}

.fs-1_5rem {
    font-size: 1.5rem;
}

.btn-md {
    --bs-btn-font-size: 1.125rem;
}

.vert-spacer {
    flex: 1 1 auto;
}

.flex-1-1-auto {
    flex: 1 1 auto;
}

.flex-1-1-100p {
    flex: 1 1 100%;
}

.border-bottom {
    border-bottom: 1pt solid var(--bs-border-color);
}

.border-left-none {
    border-left: none;
}

.border-right {
    border-right: 1pt solid var(--bs-border-color);
}


.cursor-pointer {
    cursor: pointer;
}

#logo--link {
    height: 68px;
}

.new--message-label-min-width {
    min-width: 80px;
}

.new--message--dialog {
    max-width: 300px;
    max-height: 200px;
}

.icon-125::before {
    font-size: 1.5rem;
    position: absolute;
}

.logout--btn {
    flex: 1 1 auto;
    top: 2px;
    right: 2px;
    z-index: 4;
}

.hamburger--btn {
    flex: 1 1 auto;
    top: 2px;
    right: 2px;
    z-index: 4;
}

#search--form {
    flex: 0 0 68px;
}

#msg {
    flex: 1 1 auto;
    resize: vertical;
    overflow-y: auto;
}

#new--message {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 640px;
    max-width: 100vw;
    z-index: 2;
}

#new--message.expanded {
    height: unset !important;
    width: unset !important;
    max-width: unset !important;
    top: 0;
    left: 0;
    z-index: 3;
}

#new--message.expanded .new--message-frame {

    height: unset !important;
}

#new--message-frame {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.new-message-window-buttons {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%)
}

#body {
    flex: 1 1 100% !important;
    height: unset !important;
    min-height: 300px;
}

.new--message-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
    background-color: #25283a;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    z-index: unset;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: #25283a !important;
    color: white !important;
    border: 1pt solid var(--bs-border-color) !important;
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
    background: rgba(22, 20, 28, 0.9) !important;
    border-radius: 5px !important;
}

.z-55 {
    z-index: 55;
}


[id^=msg--list-star_] .bi {
    position: relative;
    top: -2px;
}

[id^=msg--list-checkbox_] .bi {
    position: relative;
    top: -1px;
}

#new--message-form .ql-toolbar.ql-snow {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

#new--message-form .ql-container.ql-snow {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#new--message-form .ql-snow .ql-stroke {
    stroke: white !important;
}

#new--message-form .ql-snow .ql-fill {
    fill: white;
}

#new--message-form .ql-snow .ql-picker {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 5px;
}

#new--message-form .ql-snow .ql-picker .ql-picker-label {
    color: white !important;
}

#new--message-form .ql-toolbar.ql-snow .ql-formats {
    margin-bottom: 8px;
}

.whitespace--brsp {
    white-space: break-spaces;
}