@page "/"
@model websmtp.Pages.LandingModel

@section Head {
    <style>
        body {
            background-color: #16141c;
            /*background: radial-gradient(circle at 50%, #363242, #16141c);*/
            background: radial-gradient(circle at 50%, #262330, #16141c);
        }
    </style>
}

<div class="card login-card rounded-3 ma-4">
    <div class="row g-0 ">
        <div class="col-lg-12">
            <div class="card-body p-4">

                <div class="text-center mb-3">
                    <h1 class="mt-1 p-0 m-0"><i class="bi bi-fire"></i> websmtp</h1>
                    <p class="text-center p-0 m-0">simple</p>
                </div>

                <h2 class="text-center">👋</h2>
                <p class="text-center mt-3 mb-0">
                    <a class="text-decoration-none" href="/login">login</a>
                </p>
            </div>
        </div>
    </div>
</div>