@page
@model MyApp.Namespace.NewMessageModel
@{
    Layout = "_LayoutEmpty";
}
@section Head {
    <link rel="stylesheet" href="~/css/view.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <script type="text/javascript" src="~/lib/vue.global.prod.js" asp-append-version="true"></script>
}
@if (Model.Sent.HasValue && Model.Sent == true)
{
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <div class="card flex-1-1-auto new--message--dialog">
        <div class="card-body ">
            <div class="text-center my-2">Message sent.</div>
            <div class="text-center my-2">
                <button class="btn btn-primary" onclick=" deleteMessageBackup(); closeWindow();">Close</button>
            </div>
        </div>
    </div>
</div>
}
else if (Model.Sent.HasValue && Model.Sent == false)
{
    <div class="d-flex align-items-center justify-content-center  w-100 h-100">
    <div class="card flex-1-1-auto new--message--dialog">
        <div class="card-body ">
            <div class="text-center my-2">Error</div>
            <div class="text-center my-2">Trace Id: @Model.TraceId</div>
            @if (Model.ErrorMessage is not null)
                {
                    <div class="text-center my-2">Message: @Model.ErrorMessage</div>
                }
                <div class="text-center my-2">
                    @* <button class="btn btn-primary" onclick="closeWindow()">Close</button> *@
                    <button class="btn btn-primary" onclick="history.back()">Back</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <form id="new--message-form" class="position-relative card card-outlined container-fluid text-white d-flex flex-column mb-2 h-100"
    method="post" enctype="application/x-www-form-urlencoded" >

    <div id="new--message-sending" class="card-body d-none d-flex align-items-center h-100">
        <strong role="status">Sending message...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
    </div>

    <div id="new--message-body" class="card-body d-flex flex-column">
        <div class="new--message-header-bg"></div>
        <span class="h5 card-title mb-3 position-relative z-55">

            <div class="row align-items-center justify-content-between position-relative">
                <div class="col col-auto">New Message</div>
                <div class="col col-auto position-absolute new-message-window-buttons">
                    <button id="new--message-expand-btn" class="btn btn-transparent ">
                        <i class="bi bi-arrows-angle-expand fw-bolder"></i>
                    </button>
                    <button id="new--message-close-btn" class="btn btn-transparent ">
                        <i class="bi bi-x-lg fw-bolder"></i>
                    </button>
                </div>
            </div>
        </span>

        <div class="row align-items-center mb-2 mt-3 gx-0">
            <div class="col col-auto new--message-label-min-width">
                From:
            </div>
            <div class="col">

                <div class="input-group">
                    <input id="fromEmail" name="fromEmail" type="text" class="form-control" placeholder="Address"
                        aria-label="Text input with dropdown button">
                    <input id="fromName" name="fromName" type="text" class="form-control" placeholder="Display Name"
                        aria-label="Text input with dropdown button">
                </div>

            </div>

        </div>
        @{
                var toViewModel = new MailAddressListViewModel
                {
                    ContainerId = "to-row",
                    Id = "to",
                    ContainerClass = "",
                    Label =
                "To",
                    ShowCCandBCC = true
                };
                var ccViewModel = new MailAddressListViewModel
                {
                    ContainerId = "cc-row",
                    Id = "cc",
                    ContainerClass = "d-none",
                    Label = "CC"
                };
                var bccViewModel = new MailAddressListViewModel
                {
                    ContainerId = "bcc-row",
                    Id = "bcc",
                    ContainerClass =
                "d-none",
                    Label = "BCC"
                };
                await Html.RenderPartialAsync("./Shared/MailAddressList.cshtml", toViewModel);
                await Html.RenderPartialAsync("./Shared/MailAddressList.cshtml", ccViewModel);
                await Html.RenderPartialAsync("./Shared/MailAddressList.cshtml", bccViewModel);
            }
            
            <div class="row align-items-center my-2">
                <div class="col col-auto new--message-label-min-width">
                    Subject:
                </div>
                <div class="col">
                    <input id="subject" name="subject" class="form-control" />
                </div>
            </div>

            <textarea id="body" name="body" class="form-control my-2 flex-1-1-100p" id="exampleFormControlTextarea1"
                rows="6"></textarea>

            <div class="row align-items-center justify-content-between my-2">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="html" name="html">
                        <label class="form-check-label" for="flexCheckChecked">
                            HTML Message
                        </label>
                    </div>
                </div>

                <div class="col col-auto d-flex align-items-center">
                    <button type="submit" class="btn btn-primary ">Send</button>
                </div>
            </div>
        </div>

    </form>
}
@section Scripts {
    <script src="~/lib/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
    <script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/newmessage.js"> </script>
}