@model string
@{
    var regex = new System.Text.RegularExpressions.Regex(@"""(.+)"" <(.+)>");
    foreach (var singleOrigin in Model.Split(',', StringSplitOptions.RemoveEmptyEntries))
    {
        var result = regex.Matches(singleOrigin);
        if (result.Count == 0)
        {
            <span class="text-decoration-none fs-6 me-2 text-wrap"
                >@singleOrigin</span>
        }
        else
        {

            var name = result[0].Groups[1];
            var email = result[0].Groups[2];
            <span class="text-decoration-none fs-6 me-2 text-wrap"  title="@email"
                >@name </span>
        }
    }
}