@model string
@{
    var regex = new System.Text.RegularExpressions.Regex(@"""(.+)"" <(.+)>");
    foreach (var singleOrigin in Model.Split(',', StringSplitOptions.RemoveEmptyEntries))
    {
        var result = regex.Matches(singleOrigin);
        if (result.Count == 0)
        {
            @singleOrigin
        }
        else
        {

            var name = result[0].Groups[1];
            var email = result[0].Groups[2]; ;
            <a class="text-decoration-none badge rounded-pill text-bg-secondary fs-6" href="/compose?to=@email" title="@email"
                class="me-2">@name</a>
        }
    }
}