@model IndexModel
<form class="d-flex" action="/" method="get">
    <input type="hidden" name="onlyNew" id="onlyNew" value="@Model.OnlyNew.ToString().ToLower()" />
    <div class="input-group input-group-sm my-2">
        <span class="input-group-text" id="basic-addon1">Filter</span>
        <input name="filter" id="filter"
               type="text" class="form-control from-control-sm" placeholder="Any text value" aria-label="Any text value"
               aria-describedby="basic-addon1" />
    </div>
    <a class="btn btn-secondary mx-2 my-2" href="/logout" style="flex: 1 1 140px">
        <i class="bi bi-door-open"></i> Disconnect
    </a>
</form>