@model websmtp.ListResult
<nav class="sidebar">
    <a href="/" class="h2 py-2 d-inline-flex align-items-center" style="text-decoration: none; height: 68px;">
        <i class="bi bi-fire"></i>
        <span>websmtp</span>
    </a>
    <div class="pb-5">
        <button class="btn btn-lg btn-primary w-100" onclick="newMessage()">
            New Message
        </button>
    </div>
    <nav class="nav nav-pills d-flex flex-column">
        <div class="nav-item mb-2 d-flex">
            <a class="btn d-flex align-items-center rounded border-0 btn-transparent-primary" style="flex: 1 1 auto;"
                id="btn-mailbox-inbox" href="/inbox">
                <i class="bi bi-inbox"></i>
                <span class="ms-2">Inbox</span>
                <span style="margin-left: auto;" class="badge text-bg-secondary">@Model.New</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn d-flex align-items-center rounded border-0 btn-transparent-primary" style="flex: 1 1 auto;"
                id="btn-mailbox-all" href="/all">
                <i class="bi bi-inboxes"></i>
                <span class="ms-2">All Mail</span>
                <span style="margin-left: auto;" class="badge text-bg-secondary">@Model.Total</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn d-flex align-items-center rounded border-0 btn-transparent-primary" style="flex: 1 1 auto;"
               id="btn-mailbox-spam" href="/spam">
                <i class="bi bi-trash"></i>
                <span class="ms-2">Spam</span>
                <span id="sidebar--trash--count" style="margin-left: auto;"
                      class="badge text-bg-secondary">@Model.Spam</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn d-flex align-items-center rounded border-0 btn-transparent-primary" style="flex: 1 1 auto;"
                id="btn-mailbox-trash" href="/trash">
                <i class="bi bi-trash"></i>
                <span class="ms-2">Trash</span>
                <span id="sidebar--trash--count" style="margin-left: auto;"
                    class="badge text-bg-secondary">@Model.Deleted</span>
            </a>
        </div>
    </nav>
</nav>
